{% extends 'web/base.html' %}

{% block title %}Acerca de - Only Flans{% endblock %}
{% load static %}
{% block content %}
<div class="container mt-5 shadow-lg about">
    <h1>Acerca de nosotros</h1>
    <div class="card mb-4 bg-black">
        <img src="{% static 'web/images/1.webp' %}" class="card-img-top img-fluid" alt="Only Flans">
        <div class="card-body">
            <p class="card-text">
                OnlyFlans es una empresa enfocada en el mundo de la pastelería y los postres, en especial en la venta de
                flan (de ahí su nombre). Nace en 2021 en Santiago de Chile como una empresa familiar que pretende
                entregar productos de calidad a su clientela, estando ubicada en Providencia, a pasos del metro Parque
                Bustamante.
            </p>
            <p class="card-text">
                OnlyFlans es una empresa de reciente creación, por lo cual necesita mostrarse como una empresa seria y
                disponer de un espacio para mostrar los productos que se generan desde la empresa. Es por esto que las
                ideas principales del sitio web que crearemos serán por un lado la presentación de los productos
                vendidos al público general, así como también la presentación de productos especiales solo para los
                usuarios registrados, con el fin de generar una base de clientes potenciales y una fidelización de los
                clientes recurrentes, dejando la puerta abierta a futuras características como venta de productos a
                través de internet, entre otras.
            </p>
        </div>
    </div>
</div>
{% endblock %}