{% load static %}
<footer class="text-center text-lg-start border-top border-body footer-semitransparent">
    <div class="container p-4">
        <div class="row">
            <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
                <h5 class="text-uppercase">Only Flans</h5>
                <p>
                    Bienvenido a Only Flans, tu fuente de recetas y postres deliciosos. Explora, disfruta y comparte.
                </p>
            </div>
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase">Enlaces</h5>
                <ul class="list-unstyled mb-0">
                    <li>
                        <a href="{% url 'about' %}" class="text-light">Acerca</a>
                    </li>
                    <li>
                        <a href="{% url 'contact' %}" class="text-light">Contacto</a>
                    </li>
                    <li>
                        <a href="{% url 'welcome' %}" class="text-light">Bienvenido</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase">Síguenos</h5>
                <ul class="list-unstyled mb-0">
                    <li>
                        <a href="#" class="text-light"><i class="bi bi-facebook"></i> Facebook</a>
                    </li>
                    <li>
                        <a href="#" class="text-light"><i class="bi bi-twitter"></i> Twitter</a>
                    </li>
                    <li>
                        <a href="#" class="text-light"><i class="bi bi-instagram"></i> Instagram</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2024 Only Flans. Desarrollado por <a target="_blank" href="https://github.com/Primo18">Daniel López</a>
        para Desafío Latam.
    </div>
</footer>